header
{
  height: 50px;
  width: 100%;
  border:2px solid rgb(0, 255, 115);
  border-radius: 3px;
  background-color: rgb(47, 0, 255);;

}

header h2{
    text-align: center;
    color: white;
}
.footer
{
   	background:#0b650c;
   	text-align: center;
   	width: 100%;
   	height: auto;
   	margin-top:41.5%;
   
} 
.footer h3
{
   font-size: 18px;
   padding:8px;
   text-align: center;
   color: white;
}
